{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section">
        {% if book.quantity > 0 %}
        <a href="{% url 'issue_book' %}">Issue Book</a>
        {% else %}
        <p>Book unavailable</p>
        {% endif %}
    <button class="btn-primary" style="color: white;"><a href="{% url 'add-member' %}">Add Member</a></button>
    <div class="row align-items-top">
        <div class="col-lg-6">
            <!-- Card with an image on left -->
            {% for book in books %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'assets/img/card.jpg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }} by {{ book.author }}</h5>
                            <p class="card-text">Quantity - {{ book.quantity }}</br> Location - {{ book.shelf_location }}
                                </br> Available - {{ book.get_availability_display }}.</p>

                        </div>
                    </div>
                </div>
            </div><!-- End Card with an image on left -->
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}