{% extends 'base.html' %}
{% block content %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#deletemodal{{ book.id }}" data-book-id="{{ transaction.book.id }}">
    <i class="fas fa-trash"></i> Delete book
</button>
<div class="modal fade" id="deletemodal{{ book.id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete "{{ book.title }}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <form method="POST" action="{% url 'delete' book_id=book.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- End Vertically centered Modal-->
{% messages %}

{% endblock %}