{% extends 'base.html' %}
{% block content %}

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Member</th>
                    <th scope="col">Book</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Return Date</th>
                  </tr>
                </thead>
                <tbody>
                 {% for transaction in issued_transactions %}
                  <tr>
                    <th scope="row">{{ transaction.id }}</th>
                    <td>{{ transaction.member.name }}</td>
                    <td>{{ transaction.book.title }}</td>
                    <td>{{ transaction.issue_date }}</td>
                    <td>{{ transaction.due_date }}</td>
                    <td>{{ transaction.return_date }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}