{% extends 'base.html' %}


{% block content %}
    <section class="section">
      <div class="row">

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Member</h5>

              <!-- Custom Styled Validation with Tooltips -->
              <form method="post" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                 <div class="col-12">
                      <label for="yourName" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Enter name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Email!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword1" class="form-label">Address</label>
                      <div class="input-group has-validation">
                        <input type="text" name="address" class="form-control" id="yourPassword1" required>
                        <div class="invalid-feedback">Address</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="yourPassword2" class="form-label">Phone</label>
                      <div class="input-group has-validation">
                        <input type="text" name="phone" class="form-control" id="yourPassword2" required>
                        <div class="invalid-feedback">Phone</div>
                      </div>
                    </div>
                  <div class="col-12">
                      <label for="membership_ID" class="form-label">Membership ID</label>
                      <div class="input-group has-validation">
                        <input type="number" name="membership_ID" class="form-control" id="membership_ID" required>
                        <div class="invalid-feedback">Membership ID</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Submit</button>
                    </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}